aside{

	background-image: linear-gradient(#191918,black);
	width: 17%;
	height: 88%;
	border: none;
	opacity: 0.9;
	display: block;
	
	position: fixed;
	left: 0;
	top: 0;
}


#imgbuscar{
	border-radius: 15px;
	width: 32px;
	height: 30px;
}



#buttonBuscar{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#buttonBuscar:hover{
opacity: 1;

}

#imginicio2{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#buttonIniciorespaldo{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#buttonIniciorespaldo:hover{
opacity: 1;

}



#imginicio{
	border-radius: 20px;
	width: 40px;
	height: 40px;


}


#buttonInicio{
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	outline: none;

}

#bibliotecaimg{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#Btnbiblioteca{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#Btnbiblioteca:hover{
opacity: 1;

}

#BtnEscuchadosRecientemente{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 20px;
	text-align: left;
	outline: none;
}	

#BtnEscuchadosRecientemente:hover{
opacity: 1;
}
#Btntop50{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 20px;
	text-align: left;
	outline: none;
}	

#Btntop50:hover{
	opacity: 1;
}


#reproductor{
	
	background-color: #282828;
	clear: both;
	height: 14%;
	bottom: 0px;
	position: fixed ;
	width: 100%;

}

#principal{
	height: 87%;

}
#subprincipal{

	background-image: linear-gradient(#2D2E51, #0D0E18);
	min-height: 100%;

	

	
}

#botones{
	width: 220px;
 
}

#anterior,#reproducir,#siguiente{
		  background-color: transparent;
		  border: none;
		  outline: none;
}

#imagenreproductor{

	  height:40px;
	  width: 40px;

}

#imagenplay{

	  height:40px;
	  width: 40px;

}

#controlesreproductor{

	 		margin: 0 auto;
	 		width: 140px;
		


}






#barra{

	 border-radius: 25px;	
	 margin: 20px auto;
	 width: 500px;	
	 background-color: #404040;
	 
	 height: 5px;
}

#progreso{
	border-radius: 25px;	
	background-color: #B3B3B3;
	width: 0px;
 	height: 5px;
 	
}

#volumen{

	 border-radius: 25px;	
	 margin: 20px auto;
	 width: 100px;	
	 background-color: #404040;
	 height: 5px;
	position: absolute;
	right: 25px;
	top: 25px;
}

#controlarVolumen{
	border-radius: 25px;	
	background-color: #B3B3B3;
	width: 50px;
 	height: 5px;
 	
}


#inicio{
	padding-left: 17%;
	padding-bottom: 7%;
}

#buscar{
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}
#divbuscador{
	background-color: #282828;
	width: 100%;
	height: 75px;




}
#inputBuscador{
 	background-color: transparent;
 	
 	width: 100%;
	height: 75px;
	border:none;
	color: white;
	font-size: 300%;
	font-family: 'Black Han Sans';
	outline: none;

}
#biblioteca{
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}
#EscuchadosRecientemente{
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}
#top50{
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}







h1{
	
	font-size: x-large;
	color: #ffffff;

}

h2{
	color: #ffffff;
	font-size: medium;
}
h3{
	color: #ffffff;
	font-size: small;
}

body{
 margin: 0;
 height: 100%;
}
html{
	height: 100%;
}


