aside{

	background-image: linear-gradient(#191918,black);
	width: 20%;
	height: 88%;
	border: none;
	opacity: 0.9;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
}


#imgbuscar{
	border-radius: 15px;
	width: 32px;
	height: 30px;
}



#buttonBuscar{
	opacity: 0.5;
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 25px;
	text-align: left;
}	

#buttonBuscar:hover{
opacity: 1;

}

#imginicio2{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#buttonIniciorespaldo{
	opacity: 0.5;
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 25px;
	text-align: left;
}	

#buttonIniciorespaldo:hover{
opacity: 1;

}



#imginicio{
	border-radius: 20px;
	width: 40px;
	height: 40px;


}


#buttonInicio{
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 25px;

}

#bibliotecaimg{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#Btnbiblioteca{
	opacity: 0.5;
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 25px;
	text-align: left;
}	

#Btnbiblioteca:hover{
opacity: 1;

}

#BtnEscuchadosRecientemente{
	opacity: 0.5;
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 20px;
	text-align: left;
}	

#BtnEscuchadosRecientemente:hover{
opacity: 1;
}
#Btntop50{
	opacity: 0.5;
	float: left;
	background-color: transparent;
	border: none;
	width: 200px;
	font: 20px;
	text-align: left;
}	

#Btntop50:hover{
	opacity: 1;
}


#reproductor{
	
	background-color: #282828;
	clear: both;
	height: 13%;
	bottom: 0px;
	position: fixed ;
	width: 100%;

}

#principal{
	height: 87%;

}
#subprincipal{
	background-image: linear-gradient(#7F2D16,white);
	min-height: 100%;

	

	
}

#botones{

 
}

#anterior,#reproducir,#siguiente{
		  background-color: transparent;
		  border: none;
}

#imagenreproductor{

	  height:25px;
	  width: 25px;

}

#imagenplay{

	  height:25px;
	  width: 25px;

}

#controlesreproductor{

	 		margin: 0 auto;
	 		width: 140px;
		


}




#barra{

	 border-radius: 25px;	
	 margin: 20px auto;
	 width: 13%;	
	 background-color: #404040;
	 width: 500px;
	 height: 5px;
}

#progreso{
	border-radius: 25px;	
	background-color: #B3B3B3;
	width: 0px;
 	height: 5px;
 	
}

#inicio{
	padding-left: 20%;
	padding-bottom: 7%;
}

#buscar{
	padding-left: 20%;
	padding-bottom: 7%;
	display: none;

}
#biblioteca{
	padding-left: 20%;
	padding-bottom: 7%;
	display: none;

}
#EscuchadosRecientemente{
	padding-left: 20%;
	padding-bottom: 7%;
	display: none;

}
#top50{
	padding-left: 20%;
	padding-bottom: 7%;
	display: none;

}







h1{
	
	font-size: x-large;
	color: #ffffff;

}

h2{
	color: #ffffff;
	font-size: medium;
}
h3{
	color: #ffffff;
	font-size: small;
}

body{
 margin: 0;
 height: 100%;
}
html{
	height: 100%;
}


