aside{

	background-image: linear-gradient(#191918,black);
	width: 17%;
	height: 88%;
	border: none;
	opacity: 0.9;
	display: block;
	
	position: fixed;
	left: 0;
	top: 0;
}


#imgbuscar{
	border-radius: 15px;
	width: 32px;
	height: 30px;
}



#buttonBuscar{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#buttonBuscar:hover{
opacity: 1;

}

#imginicio2{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#buttonIniciorespaldo{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#buttonIniciorespaldo:hover{
opacity: 1;

}



#imginicio{
	border-radius: 20px;
	width: 40px;
	height: 40px;


}


#buttonInicio{
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	outline: none;

}

#bibliotecaimg{
	border-radius: 15px;
	width: 32px;
	height: 30px;
	background color: white;
}



#Btnbiblioteca{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 25px;
	text-align: left;
	outline: none;
}	

#Btnbiblioteca:hover{
opacity: 1;

}

#BtnEscuchadosRecientemente{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 20px;
	text-align: left;
	outline: none;
}	

#BtnEscuchadosRecientemente:hover{
opacity: 1;
}
#Btntop50{
	opacity: 0.5;
	float: none;
	background-color: transparent;
	border: none;
	display: block;
	width: 100%;
	font: 20px;
	text-align: left;
	outline: none;
}	

#Btntop50:hover{
	opacity: 1;
}


#reproductor{
	
	background-color: #282828;
	clear: both;
	height: 14%;
	bottom: 0px;
	position: fixed ;
	width: 100%;

}

#principal{
	height: 87%;
	

}
#subprincipal{
    
	background-image: linear-gradient(#2D2E51, #0D0E18);
	background-repeat: no-repeat;
    background-attachment: fixed;

	min-height: 100%;
	display: flex;
	

	
}

#botones{
	width: 220px;
 
}

#anterior,#reproducir,#siguiente{
		  background-color: transparent;
		  border: none;
		  outline: none;
}

#imagenreproductor{

	  height:40px;
	  width: 40px;

}

#imagenplay{

	  height:40px;
	  width: 40px;

}

#controlesreproductor{

	 		margin: 0 auto;
	 		width: 140px;
		


}






#barra{

	 border-radius: 25px;	
	 margin: 20px auto;
	 width: 500px;	
	 background-color: #404040;
	 
	 height: 5px;
}

#progreso{
	border-radius: 25px;	
	background-color: #B3B3B3;
	width: 0px;
 	height: 5px;
 	
}

#volumen{

	 border-radius: 25px;	
	 margin: 20px auto;
	 width: 100px;	
	 background-color: #404040;
	 height: 5px;
	position: absolute;
	right: 25px;
	top: 25px;
}

#controlarVolumen{
	border-radius: 25px;	
	background-color: #B3B3B3;
	width: 50px;
 	height: 5px;
 	
}


#inicio{
	width: 100%;
	padding-left: 17%;
	padding-bottom: 7%;
}

#buscar{
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;
	width: 100%;

}
#divbuscador{
	background-color: #282828;
	width: 100%;
	height: 75px;




}
#inputBuscador{
 	background-color: transparent;
 	
 	width: 100%;
	height: 75px;
	border:none;
	color: white;
	font-size: 300%;
	font-family: 'Black Han Sans';
	outline: none;

}
#biblioteca{
	width: 100%;
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}
#EscuchadosRecientemente{
	width: 100%;
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}
#top50{
	width: 100%;
	padding-left: 17%;
	padding-bottom: 7%;
	display: none;

}

#imagenSonido{

	position: absolute;
	right: 125px;
	top: 33px;
}

#listaBuscar , #listaInicio, #listaBiblioteca, #listaEscuchadoRecientemente{
	padding-left: 3%;
	padding-top: 30px;
	margin-bottom: 20px;
	



}
#btnDivListaBuscarPrincipales{


	margin-left: 4%;
	margin-right: 4%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 1;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#btnDivListaBuscarArtistas{


	margin-left: 5%;
	margin-right: 5%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#btnDivListaBuscarCanciones{


	margin-left: 5%;
	margin-right: 5%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#btnDivListaBuscarPlaylist{


	margin-left: 5%;
	margin-right: 5%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#btnDivListaBuscarAlbumes{


	margin-left: 5%;
	margin-right: 5%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#listaEscuchadoRecientemente button{
	margin-left: 8%;
	margin-right: 8%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}

#listaBiblioteca button{
	margin-left: 4%;
	margin-right: 4%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#listaBiblioteca button:hover{
	opacity:1;
}

#listaInicio button{


	margin-left: 7%;
	margin-right: 7%;
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	opacity: 0.5;
	font-family: 'Alfa Slab One';
	font-size: 20px;
}
#listaInicio button:hover{
	opacity:1;
}
#listaEscuchadoRecientemente button:hover{
	opacity:1;
	
}



#btnDivListaBuscarPrincipales:hover{

        opacity:1;
}
#btnDivListaBuscarArtistas:hover{

        opacity:1;
}
#btnDivListaBuscarCanciones:hover{

        opacity:1;
}
#btnDivListaBuscarPlaylist:hover{

        opacity:1;
}
#btnDivListaBuscarAlbumes:hover{

        opacity:1;
}

#imagenBusqueda{
  
  	float: left;
	background-image: url(../img/nightcore.jpg);
	border-radius: 25px;
	margin-left: 5%;
	width: 300px;
	height: 300px;
	margin-top: 22px;




}


#reproductorImagen{

	width: 300px;
	height: 300px;
	
	opacity: 0.0;


}
#reproductorImagen:hover{

 opacity: 1.0;


}
.play{


	clear: both;
	background-color: transparent;
	border: none;
	outline: none;
	
}

#imgPlayArrow{
height: 25px;
width: 25px;



}
.efectosCanciones{


	padding-right: 10px;
	height: 50px;
}
.efectosCanciones:hover{
	
	background: rgba(0, 0, 13, 0.5);
	border-radius: 5px;
	transition: all 1s ease;

}

.efectosArtistas{

	float: left;
	border-radius: 200px 200px 200px 200px;
	margin-left: 2%;
    margin-right: 2%;
	width: 15%;
	height: 5%;
	
}

#ArtistaImagen{

	width: 100%;
	height: 100%;
	border-radius: 200px 200px 200px 200px;
	opacity: 0.0;


}
#ArtistaImagen:hover{

 opacity: 1.0;


}
.efectosAlbumes{

	float: left;
	
	margin-left: 2%;
    margin-right: 2%;
	width: 15%;
	height: 5%;
	
}












h1{
	
	font-size: x-large;
	color: #ffffff;

}

h2{
	color: #ffffff;
	font-size: medium;
}
h3{
	color: #ffffff;
	font-size: small;
}

body{
 margin: 0;
 height: 100%;
}
html{
	height: 100%;
}


