table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	padding: 8px;
}
thead{
	background-color: #1ED760;
	border-bottom: solid 3px;
	color: 
}
tr:nth-child(even){
	background-color: #ddd;
}