<!DOCTYPE html>
<html lang="es-ES" dir="ltr" ng-app="accounts" ng-csp="" ng-strict-di="" class="ng-scope">
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title ng-bind="(&#39;loginTitle&#39; | localize) + &#39; - Spotify&#39;" class="ng-binding">
      Iniciar sesión - Spotify
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="icon" href="img/logo2.ico">
    <link href="css/index.6eb9c7da858f492de463.css" media="screen" rel="stylesheet">

    <script async="" src="extra/analytics.js.download"></script>
    <script type="text/javascript" async="" src="extra/recaptcha__es.js.download" nonce=""></script>
    <script async="" defer="" src="extra/api.js.download" nonce=""></script>
    <script defer="" src="extra/index.6eb9c7da858f492de463.js.download" sp-bootstrap=""></script>
    <meta ng-non-bindable="" sp-bootstrap-data="{&quot;country&quot;:&quot;HN&quot;,&quot;captchaSiteKey&quot;:null,&quot;useCaptcha&quot;:false,&quot;BON&quot;:[&quot;0&quot;,&quot;0&quot;,-1511961763]}">

  </head>
  <body ng-controller="LoginController" class="ng-scope">
      <div ng-include="template" class="ng-scope">
          <div sp-header="" class="ng-scope">
              <div class="head ">
                <a class="spotify-logo" ng-href="/es-ES" tabindex="-1" title="Spotify" href="index.html"></a>
              </div>
          </div>
          <div class="container-fluid login ng-scope">
              <div class="content">
                  <div class="row ng-scope" ng-if="showContinueLabel">
                      <div class="col-xs-12 text-center">
                          <span id="login-to-continue" class="h5 ng-binding">
                            Para continuar, inicia sesión en Spotify.
                          </span>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <a ng-href="" class="btn btn-block btn-facebook ng-binding" target="_parent" role="button" analytics-on="click" analytics-category="Login View" analytics-event="Facebook Button" analytics-label="" href="https://www.facebook.com/login/">
                            Iniciar sesión con Facebook
                          </a>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="divider">
                              <strong class="divider-title ng-binding">o</strong>
                          </div>
                      </div>
                  </div>
                  <form name="" method="" novalidate="" class="ng-valid-sp-disallow-chars ng-dirty ng-valid-parse ng-valid ng-valid-required">     
                      <div class="row" ng-class="{&#39;has-error&#39;: (accounts.username.$dirty &amp;&amp; accounts.username.$invalid)}">
                          <div class="col-xs-12">
                              <label for="login-username" class="control-label sr-only ng-binding">
                                Dirección de correo o nombre de usuario
                              </label>
                              <input ng-model="form.username" type="text" class="form-control input-with-feedback ng-valid-sp-disallow-chars ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" name="username" id="login-username" placeholder="Dirección de correo o nombre de usuario" required="" sp-disallow-chars=":%&amp;&#39;`´&quot;" sp-disallow-chars-model="usernameDisallowedChars" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="autofocus" ng-trim="false">
                          </div>
                      </div>
                      <div class="row" ng-class="{&#39;has-error&#39;: (accounts.password.$dirty &amp;&amp; accounts.password.$invalid)}">
                          <div class="col-xs-12">
                              <label for="login-password" class="control-label sr-only ng-binding">
                                Contraseña
                              </label>
                              <input ng-model="form.password" type="password" class="form-control input-with-feedback ng-not-empty ng-dirty ng-valid-parse ng-valid ng-valid-required ng-touched" name="password" id="login-password" placeholder="Contraseña" required="" autocomplete="off" ng-trim="false">
                          </div>
                      </div>
                      <div class="row row-submit">
                          <div class="col-xs-12 col-sm-6">
                              <div class="checkbox">
                                <label class="ng-binding">
                                  <input ng-model="form.remember" type="checkbox" name="remember" id="login-remember" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                                  Recuérdame
                                  <span class="control-indicator"></span>
                                </label>
                              </div>
                          </div>
                          <div class="col-xs-12 col-sm-6">
                              <button class="btn btn-block btn-green ng-binding" id="login-button" ng-click="">Iniciar sesión</button>
                          </div>
                      </div>
                  </form>
                  <div class="row">
                      <div class="col-xs-12 text-center">
                          <p>
                              <a id="reset-password-link" ng-href="#" analytics-on="click" analytics-category="Login View" analytics-event="Forgot Button" analytics-label="" class="ng-binding" href="#">
                                ¿Se te ha olvidado la contraseña?
                              </a>
                          </p>
                      </div>
                  </div>
                  <div id="sign-up-section">
                      <div class="row">
                          <div class="col-xs-12">
                              <div ng-controller="SignUpController" class="ng-scope">
                                  <div ng-include="&#39;signup.ngt&#39;" class="ng-scope">
                                      <div ng-if="showSignup" class="ng-scope">
                                          <div class="row">
                                              <div class="col-xs-12">
                                                  <div class="divider"> 
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="row text-center mt-0">
                                              <div class="h4 ng-binding">¿No tienes cuenta?</div>
                                          </div>
                                          <div>
                                              <div class="row">
                                                  <div class="col-xs-12">
                                                      <a id="" ng-href="#" class="btn btn-block btn-default ng-binding" role="button" href="modulo_registro.html">
                                                        CONSEGUIR SPOTIFY GRATIS
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="divider"></div>
                          <p class="text-muted disclaimer text-center ng-binding" ng-bind-html="&#39;loginTermsOfService&#39; | localize:termsAndConditionsUrl:privacyPolicyUrl">
                            Si haces clic en iniciar sesión con Facebook y no eres usuario de Spotify, pasarás a estar registrado y aceptas los 
                            <a href="#" target="">
                              Términos y Condiciones
                            </a> y la 
                            <a href="#" target="">
                              Política de Privacidad
                            </a> de Spotify.
                          </p>
                      </div>
                  </div>
              </div><!-- .content -->
          </div><!-- .container -->
      </div>
  </body>
</html>